<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywf.thumb.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="com.ywf.thumb.domain.Blog">
            <id property="id" column="id" />
            <result property="userId" column="userId" />
            <result property="title" column="title" />
            <result property="coverImg" column="coverImg" />
            <result property="content" column="content" />
            <result property="thumbCount" column="thumbCount" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,title,coverImg,content,thumbCount,
        createTime,updateTime
    </sql>
</mapper>
